body{
    background-color: black;
}
img{
    height: 300px;
    width: 600px;
    border: 10px solid white;
}

div{
    color:white;
    text-align: center; 
    margin-top: 60px; 
    font-family: "Libre Baskerville", serif;
}

h1{
    text-transform: uppercase;
    
}